<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="/static/js/kindeditor-4.1.10/kindeditor-min.js"></script>
  <script type="text/javascript" src="/static/js/kindeditor-4.1.10/lang/zh_CN.js"></script>
  <script type="text/javascript" src="/static/js/kindeditor-4.1.10/config.js"></script>
    <meta charset="utf-8">
    <title>写文章</title>
  </head>
  <body>
    <form class="" action="" method="post">
      {%csrf_token%}
      {%for field in form%}
      {{field.label}}:{{field}}<br>
      {%endfor%}
      <input type="submit" name="" value="提交文章">
    </form>
  </body>
</html>
